## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,5,Takoradi,GH,78.12,broken clouds,4.8845,-1.7554,Raybow International Hotel
1,6,Soure,BR,80.47,broken clouds,-0.7167,-48.5233,Casarão da Amazônia
2,9,Hithadhoo,MV,82.24,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,10,Mogadishu,SO,78.60,overcast clouds,2.0371,45.3438,Hotel Juba
4,12,Souillac,MU,77.36,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Conditions</dt><dd>{Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Nakhon Nayok"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Nakhon Nayok"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Nakhon Thai"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Prachuap Khiri Khan"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Songkhla"]

In [18]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].values[0], vacation_start["Lng"].values[0])
end = (vacation_end["Lat"].values[0], vacation_end["Lng"].values[0])
stop1 = (vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0])
stop2 = (vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0])
stop3 = (vacation_stop3["Lat"].values[0], vacation_stop3["Lng"].values[0])

In [21]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
direction_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,297,Nakhon Nayok,TH,88.02,broken clouds,14.1667,101.1000,ห้างหุ้นส่วนจำกัด เอสพีรีสอร์ท
1,243,Nakhon Thai,TH,85.19,few clouds,17.1006,100.8374,Phet resort
2,450,Prachuap Khiri Khan,TH,82.71,broken clouds,12.2167,99.7500,ผกากรองรีสอร์ท
3,682,Songkhla,TH,86.05,overcast clouds,6.8333,100.6667,น.ส ซัลมา สาแม็ง
4,297,Nakhon Nayok,TH,88.02,broken clouds,14.1667,101.1000,ห้างหุ้นส่วนจำกัด เอสพีรีสอร์ท

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Conditions</dt><dd>{Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

       Lat       Lng
0  14.1667  101.1000
1  17.1006  100.8374
2  12.2167   99.7500
3   6.8333  100.6667
4  14.1667  101.1000

In [33]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker2_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

direction_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING", show_markers=False)
fig2.add_layer(direction_layer)

fig2.add_layer(marker2_layer)

# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))